extends layout

block variables
  -var title = "Profile"

block content
      if groups.length == 0
        .card
          .card-header.bg-primary
            h5.text-white Thông tin
          .card-body
            .row
              .col-md-4
                img.w-100(src='/images/avatar-default.png')
              .col-md-8
                h2= user.profile.firstName +' '+ user.profile.lastName
                h3= user.profile.email
                h4 Khách

      else
        .container
          .card.mb-5
            .card-header.bg-primary
              h2.text-white.d-inline Hồ sơ chung
              button.d-inline.float-right.btn.btn-info(onclick="enableEdit('profile-form')")
                span
                  i.fa.fa-2x.fa-edit
            .card-body
              .row
                .col-md-4
                  img.w-100(src='/images/avatar-default.png')
                .col-md-8
                  form#profile-form.w-100(action="/users/update-profile" method="post")
                    .row
                      .col-md-6.w-100.form-group
                        label(for='firstName') First Name
                        input#firstName.form-control(type='text' name="firstName" value= `${profile.firstName}` onchange="enableSaveButton('profile-form')")
                      .col-md-6.form-group
                        label(for='lastName') Last Name
                        input#lastName.form-control(type='text' name="lastName"  value= `${profile.lastName}` onchange="enableSaveButton('profile-form')")
                    .form-group.w-100
                      label(for='address') Địa chỉ
                      input.form-control(type='text' name="address"  value= `${profile.address}` onchange="enableSaveButton('profile-form')")
                    .form-group.w-100
                      label(for='workingPlace') Cơ quan công tác
                      input.form-control(type='text' name="workingPlace" value= `${profile.workingPlace}` onchange="enableSaveButton('profile-form')")
                    .form-group.w-100
                      label(for='job') Nghề;
                      input.form-control(type='text' name="job" value= `${profile.job}` onchange="enableSaveButton('profile-form')")
                    .form-group.w-100
                      label(for='telephone') Điện thoại
                      input.form-control(type='tel' name="telephone" value= `${profile.telephone}` onchange="enableSaveButton('profile-form')")
                    .d-flex.justify-content-end
                      button.btn.btn-success.mr-2(type='submit' disabled) Save
                      button.btn.btn-danger.mr-2(disabled onclick="discardChange('profile-form')") Cancel
          each profile, groupName in groupProfiles
            if groupName == "Tác giả"
              .card.mt-2.mb-2
                .card-header.bg-secondary
                  h2.text-white.d-inline Hồ sơ cho tác giả
                  button.d-inline.float-right.btn.btn-info(onclick="enableEdit('author-profile-form')")
                    span
                      i.fa.fa-2x.fa-edit
                .card-body
                  form(action="/author/update-profile", method="post")#author-profile-form.w-100
                    .form-group.w-100
                        label(for='email') Email
                        input.form-control(type='email' name="email" value=`${profile.email}` onchange="enableSaveButton('author-profile-form')")
                    .d-flex.justify-content-end
                        button.btn.btn-success.mr-2(type='submit' disabled) Save
                        button.btn.btn-danger.mr-2(disabled onclick="discardChange('author-profile-form')") Cancel
            else if groupName=="Biên tập"
              .card.mt-2.mb-2
                .card-header.bg-secondary
                  h2.text-white.d-inline Biên tập
                  button.d-inline.float-right.btn.btn-info(onclick="enableEdit('editor-profile-form')")
                    span
                      i.fa.fa-2x.fa-edit
                .card-body
                  form(action="/editor/update-profile", method="post")#editor-profile-form.w-100
                    .form-group.w-100
                        label(for='email') Email
                        input.form-control(type='email' name="email" value=`${profile.email}` onchange="enableSaveButton('editor-profile-form')")
                    .d-flex.justify-content-end
                        button.btn.btn-success.mr-2(type='submit' disabled) Save
                        button.btn.btn-danger.mr-2(disabled onclick="discardChange('editor-profile-form')") Cancel
            else if groupName == "Phản biện"
              .card.mt-2.mb-2
                .card-header.bg-secondary
                  h2.text-white.d-inline Phản biện
                  button.d-inline.float-right.btn.btn-info(onclick="enableEdit('reviewer-profile-form')")
                    span
                      i.fa.fa-2x.fa-edit
                .card-body
                  form(action="/reviewer/update-profile", method="post")#reviewer-profile-form.w-100
                    .form-group.w-100
                        label(for='privateEmail') Email cá nhân
                        input.form-control(type='email' name="privateEmail" value=`${profile.privateEmail}` onchange="enableSaveButton('reviewer-profile-form')")
                    .form-group.w-100
                        label(for='publicEmail') Email cơ quan
                        input.form-control(type='email' name="publicEmail" value = `${profile.publicEmail}` onchange="enableSaveButton('reviewer-profile-form')")
                    .form-group.w-100
                        label(for='level') Trình độ
                        input.form-control(type='text' name="level" value = `${profile.level}` onchange="enableSaveButton('reviewer-profile-form')")
                    .form-group.w-100
                        label(for='major') Chuyên môn
                        input.form-control(type='text' name="major" value = `${profile.major}` onchange="enableSaveButton('reviewer-profile-form')")  
                    .form-group.w-100
                        label(for='workingDate') Ngày công tác
                        input.form-control(type='date' name="workingDate" value = `${profile.workingDate? profile.workingDate.substring(0,10): ""}` onchange="enableSaveButton('reviewer-profile-form')")                           
                        
                    .d-flex.justify-content-end
                        button.btn.btn-success.mr-2(type='submit' disabled) Save
                        button.btn.btn-danger.mr-2(disabled onclick="discardChange('reviewer-profile-form')") Cancel	
          script(src="/javascripts/shared_profile.js")
